misc
.antlr
*.log
.attach*
.idea
*.s
target/

SimC.interp
SimC.tokens
SimCBaseVisitor.java
SimCLexer.interp
SimCLexer.java
SimCLexer.tokens
SimCParser.java
SimCVisitor.java

.classpath
.project
.settings
*.bc
*.ll